footer {
  background-color: $veryDarkViolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 0;
  div {
    ul {
      list-style: none;
      li:first-child {
        color: white;
        margin: 2rem 0 1rem 0;
      }
      li {
        cursor: pointer;
        color: $grayViolet;
        margin-bottom: 0.25rem;
        transition: all 100ms ease-in;
        &:hover {
          color: $cyan;
        }
      }
    }
  }
  .footer {
    &__content {
      background-color: $veryDarkViolet;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      // padding: 4rem 0;
      &__logo {
        color: white;
        margin-bottom: 1rem;
        cursor: pointer;
      }
    }
  }
  .icons {
    margin-top: 3rem;
    ul {
      display: flex;
      li {
        margin: 0;
        img {
          transition: all 100ms ease-in;
        }
        #fb {
          &:hover {
            display: block;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: url('/images/icon-facebook-cyan.svg') no-repeat;
            height: 24px;
            width: 24px;
            padding-bottom: 24px;
            z-index: 100;
          }
        }
        #pin {
          &:hover {
            display: block;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: url('/images/icon-pinterest-cyan.svg') no-repeat;
            height: 24px;
            width: 24px;
            padding-bottom: 24px;
            z-index: 100;
          }
        }
        #inst {
          &:hover {
            display: block;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: url('/images/icon-instagram-cyan.svg') no-repeat;
            height: 24px;
            width: 24px;
            padding-bottom: 24px;
            z-index: 100;
          }
        }
        #tt {
          &:hover {
            display: block;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: url('/images/icon-twitter-cyan.svg') no-repeat;
            height: 24px;
            width: 24px;
            padding-bottom: 24px;
            z-index: 100;
          }
        }
      }
      li:first-child {
        margin: 0;
      }
      li:not(:last-child) {
        margin-right: 1.25rem;
      }
    }
  }
  @include breakpoint-up(large) {
    .footer {
      &__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        max-width: 1400px;
        &__logo {
          margin-right: 5rem;
        }
        div {
          ul {
            li {
              &:first-child {
                margin: 0rem 0 1rem 0;
              }
              text-align: start;
            }
          }
        }
        .icons {
          margin-top: 0;
          ul {
            li {
              &:not(:last-child) {
                margin-right: 1.25rem;
              }
            }
          }
        }
      }
    }
  }
}
